In [13]:
# Imports and Read CSV into Memory

import pandas as pd
df = pd.read_csv('./data/players_20.csv')

In [14]:
# Exercise 1 - Print the top 5 records
print(df.head())

   sofifa_id                                         player_url  \
0     158023  https://sofifa.com/player/158023/lionel-messi/...
1      20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
2     190871  https://sofifa.com/player/190871/neymar-da-sil...
3     200389  https://sofifa.com/player/200389/jan-oblak/20/...
4     183277  https://sofifa.com/player/183277/eden-hazard/2...

          short_name                            long_name  age         dob  \
0           L. Messi       Lionel Andrés Messi Cuccittini   32  1987-06-24
1  Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   34  1985-02-05
2          Neymar Jr        Neymar da Silva Santos Junior   27  1992-02-05
3           J. Oblak                            Jan Oblak   26  1993-01-07
4          E. Hazard                          Eden Hazard   28  1991-01-07

   height_cm  weight_kg nationality                 club  ...   lwb   ldm  \
0        170         72   Argentina         FC Barcelona  ...  68+2  66+2
1        187         83    Portugal             Juventus  ...  65+3  61+3
2        175         68      Brazil  Paris Saint-Germain  ...  66+3  61+3
3        188         87    Slovenia      Atlético Madrid  ...   NaN   NaN
4        175         74     Belgium          Real Madrid  ...  66+3  63+3

    cdm   rdm   rwb    lb   lcb    cb   rcb    rb
0  66+2  66+2  68+2  63+2  52+2  52+2  52+2  63+2
1  61+3  61+3  65+3  61+3  53+3  53+3  53+3  61+3
2  61+3  61+3  66+3  61+3  46+3  46+3  46+3  61+3
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  63+3  63+3  66+3  61+3  49+3  49+3  49+3  61+3

[5 rows x 104 columns]

In [17]:
# 2 - How can we see each column name?
print(df.columns)

Index(['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob',
       'height_cm', 'weight_kg', 'nationality', 'club',
       ...
       'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'],
      dtype='object', length=104)